<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983752186171-nbp9gil065b5gq3d0s2dmhi26pvdslml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983752186171-nbp9gil065b5gq3d0s2dmhi26pvdslml</string>
	<key>API_KEY</key>
	<string>AIzaSyBsYw_UOi-_QqC7BTxYV9seAphZsEMQ1tw</string>
	<key>GCM_SENDER_ID</key>
	<string>983752186171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.currencyWallet</string>
	<key>PROJECT_ID</key>
	<string>wallet-d4381</string>
	<key>STORAGE_BUCKET</key>
	<string>wallet-d4381.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983752186171:ios:f8cba98b0d947d26b07f1e</string>
</dict>
</plist>